<div id="header">

  <!-- Header Title -->
  <div id="title-block">
    <a routerLink="/products">
      <h1 class="fs-3">{{headerTitle}}</h1>
    </a>
  </div>

  <div id="navbar">

    <!-- Home button -->
    <button mat-icon-button routerLink="/products">
      <mat-icon matTooltip="Home">home</mat-icon>
    </button>

    <!-- Order Requests button -->
    <button mat-icon-button routerLink="/orders-list">
      <mat-icon matTooltip="Order Requests">lists</mat-icon>
    </button>

    <!-- Log Out button -->
    <button mat-icon-button *ngIf="loggedIn===true">
      <mat-icon matTooltip="Log Out" (click)="logout()">logout</mat-icon>
    </button>
    
  </div>
</div>