.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    row-gap: 30px;
    column-gap: 30px;
}

#searchbox{
    align-items: center;
    justify-content: center;
}

#filter{
    align-items: center;
    justify-content: center;
}

#searchnotfound{
    color: rgb(233, 30, 99);
}

#searchnotfound img{
    width: 100px;
    height: 100px;
}

p{
    width: 600px;
    margin-top: 15px;
    font-family: 'Kalam', cursive;
    line-height: 30px;
}