<div class="d-flex">
    <span class="d-flex align-items-center">Filter by Category: </span>
    <button mat-raised-button color="primary" class="mx-2" (click)="filterProduct('Cakes')">Cakes</button>
    <button mat-raised-button color="accent" class="mx-2" (click)="filterProduct('Cookies')">Cookies</button>
    <button mat-raised-button color="warn" class="mx-2" (click)="filterProduct('Brownies')">Brownies</button>
    <button mat-raised-button color="accent" class="mx-2" (click)="filterProduct('Chocolates')">Chocolates</button>
    <button mat-stroked-button (click)="filterProduct('')">Clear Filter</button>
</div>
