<div class="container d-flex">
    <div id="login-form">
        <mat-card>
            <h3>You need to first login to view order requests</h3>
            <form [formGroup]="loginForm" (ngSubmit)="validateLogin()">
                <mat-form-field>
                    <mat-label>Enter Security Code</mat-label>
                    <input matInput type="password" formControlName="securityCode">
                    <mat-error *ngIf="securityCode?.errors?.['required']">Security Code is required</mat-error>
                </mat-form-field>
                <br>
                <mat-error *ngIf="isCodeIncorrect">Incorrect code</mat-error>
                <br>
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Login</button>
            </form>
            <br />
            <p>If you are a Customer, <a routerLink="/products">click here</a> to go back to Homepage</p>
        </mat-card>
    </div>
</div>