<div class="container-fluid">
    <div class="row align-items-center">

        <!-- Social Media links -->
        <div class="col-md d-flex" id="social">
            <a href="javascript:void(0);"> <img src="..\..\assets\facebook.png" alt="facebook"></a>
            <a href="javascript:void(0);"> <img src="..\..\assets\instagram.png" alt="instagram"></a>
            <a href="javascript:void(0);"> <img src="..\..\assets\twitter.png" alt="twitter"></a>
        </div>

        <!-- Navigation links -->
        <div class="col-md d-flex justify-content-center" id="links">
            <ul class="text-center mb-2 mb-md-0 d-flex">
                <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);">Contact</a></li>
                <li><a href="javascript:void(0);">Career</a></li>
                <li><a href="javascript:void(0);">Terms</a></li>
                <li><a href="javascript:void(0);">Privacy</a></li>
            </ul>
        </div>

        <!-- Company Logo and Copyright -->
        <div class="col-md" id="logo">
            <h1 class="fs-5">Bake My Cake</h1>
            <div class="text-uppercase">All rights reserved. © 2023</div>
        </div>
        
    </div>
</div>